# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Streamlit
.streamlit/

# Media/Temp
temp_audio.mp3
extracted_audio.mp3
frames/
*.mp4
*.mkv
*.avi

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.cursor/
